@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces&display=swap");

* {
  font-size: 14px;
  font-family: Montserrat;
  box-sizing: border-box;
}
.cardbackground {
  background-color: hsl(30, 38%, 92%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 12px;
  padding: 0px;
}
.left {
  padding: 0px;
  margin: 0px;
}
.left img {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  width: 300px;
  margin: 0px;
  padding: 0px;
}
.right {
  padding: 20px;
  width: 300px;
}

.perfume {
  color: rgb(151, 151, 151);
}
.gabrielle {
  font-weight: 700;
  font-size: 40px;
  font-family: Fraunces;
  margin: 20px 0px 20px 0px;
}

.floral {
  color: rgb(151, 151, 151);
}
.numbers {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
  margin: 20px 0px 20px 0px;
  color: hsl(158, 36%, 37%);
  font-size: 35px;
  font-family: Fraunces;
  font-weight: 700;
}
span {
  color: rgb(151, 151, 151);
  text-decoration: line-through;
}

button {
  width: 100%;
  padding: 12px;
  color: white;
  background-color: hsl(158, 36%, 37%);
  border-style: none;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
  font-weight: 700;
}
button div {
  font-size: 19px;
}

button:hover {
  cursor: pointer;
  background-color: hsl(158, 49%, 20%);
}
